.rtb-clear {
clear: both;
}
.rtb-hidden {
display: none;
}
.rtb-booking-form {
position: relative; width: 100%;
clear: both;
margin-bottom: 48px;
}
.rtb-booking-form fieldset {
padding-bottom: 1em;
margin-bottom: 1em;
}
.rtb-booking-form legend {
padding: 0 0.5em;
}
.rtb-booking-form fieldset>div {
margin-top: 1em;
}
.rtb-booking-form fieldset>div:first-child {
margin-top: 0;
}
.rtb-booking-form label {
display: block;
}
.rtb-booking-form input,
#stripe-payment-form #cardElement {
width: 100%;
max-width: 15em;
}
#stripe-payment-form #cardElement {
max-width: 500px;
width: 100%;
display: block;
border: 1px solid #ccc;
border-radius: 0;
background-color: white;
color: #777;
padding: 12px 21px;
margin: 18px 0;
}
.rtb-booking-form input[type="checkbox"],
.rtb-booking-form input[type="radio"] {
width: auto;
margin-right: 0.25em;
vertical-align: middle;
}
.rtb-booking-form textarea {
width: 100%;
max-width: 30em;
}
.rtb-booking-form .add-message {
margin-top: 1em;
}
.rtb-booking-form .message {
position: relative;
top: auto;
left: auto;
display: none;
}
.rtb-booking-form .message-open {
display: block;
}
.rtb-booking-form .message textarea {
min-height: 6em;
}
.rtb-booking-form .rtb-error {
font-size: 0.85em;
padding: 0.25em;
background: #f50;
color: #fff;
}
.rtb-booking-form .rtb-error:before {
content: ' ';
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
width: 0;
height: 0;
display: inline-block;
margin: 0.25em 0.5em;
} .picker {
outline: 0;
}
#rtb-date_root .picker__button--clear,
#rtb-date_root .picker__button--today,
#rtb-date_root .picker__button--close { color: #000;
}
#rtb-date_root .picker__nav--next,
#rtb-date_root .picker__nav--prev { min-height: 1em;
}
#rtb-time_root .picker__list,
#rtb-time_root .picker__list li { list-style: none;
margin: 0 0 0 1px;
} .rtb-view-bookings-table {
margin-top: 24px;
border-collapse: collapse;
}
.rtb-view-bookings-table,
.rtb-view-bookings-table tr,
.rtb-view-bookings-table th,
.rtb-view-bookings-table td {
border: 1px solid #ccc;
}
.rtb-view-bookings-table th {
font-weight: bold;
text-align: center;
}
.rtb-view-booking-details-label {
font-weight: 600;
}
@media screen and (max-width: 900px) {
.rtb-view-bookings-table th:nth-of-type(n+6),
.rtb-view-bookings-table td:nth-of-type(n+6) {
display: none;
}
}
@media screen and (max-width: 600px) {
.rtb-view-bookings-table th:nth-of-type(n+5),
.rtb-view-bookings-table td:nth-of-type(n+5) {
display: none;
}
}
.rtb-edit-view-booking {
width: 20px;
height: 20px;
margin-left: calc(50% - 10px);
}
.rtb-edit-view-booking[disabled] {
opacity: .75;
}
.rtb-view-bookings-form-confirmation-background-div {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999999;
background: rgba(0,0,0,0.5);
}
.rtb-view-bookings-form-confirmation-div {
position: fixed;
top: 200px;
width: 480px;
left: calc(50% - 240px);
z-index: 1000000;
margin: 0;
background: #fff;
font-size: 18px;
text-align: center;
border-radius: 2px;
box-shadow: 0 0 4px #555;
}
.rtb-view-bookings-form-confirmation-div-inside {
position: relative;
float: left;
width: 100%;
}
.rtb-view-bookings-form-confirmation-div-title {
position: relative;
float: left;
width: 90%;
margin: 24px 5%;
color: #333;
}
.rtb-view-bookings-form-confirmation-accept {
box-sizing: border-box;
position: relative;
float: left;
width: 32%;
margin: 24px 34% 0;
padding: 8px 0;
background: #222;
color: #fff;
border-radius: 2px;
cursor: pointer;
transition: background .35s;
}
.rtb-view-bookings-form-confirmation-accept:hover {
background: #555;
}
.rtb-view-bookings-form-confirmation-decline {
box-sizing: border-box;
position: relative;
float: left;
width: 32%;
margin: 8px 34% 24px;
padding: 6px 0;
background: transparent;
color: #222;
border: 2px solid #222;
border-radius: 2px;
cursor: pointer;
transition: background .35s, border-color .35s;
}
.rtb-view-bookings-form-confirmation-decline:hover {
background: #555;
color: #fff;
border-color: #555;
}
#rtb-view-bookings-form-close {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
top: 0;
right: 0;
width: 32px;
height: 32px;
background: #555;
color: #fff;
border-bottom-left-radius: 2px;
font-size: 15px;
cursor: pointer;
transition: background .35s;
}
#rtb-view-bookings-form-close:hover {
background: #222;
}
@media screen and (max-width: 568px) {
.rtb-view-bookings-form-confirmation-div {
top: 100px;
width: 300px;
left: calc(50% - 150px);
}	
} .rtb-modification-toggle {
position: relative;
float: left;
padding: 10px 15px;
margin-bottom: 24px;
background: #444;
color: #fff;
border-radius: 3px;
cursor: pointer;
}
label[for="rtb_modification_email"],
input[name="rtb_modification_email"] {
float: left;
margin-top: 20px;
}
label[for="rtb_modification_email"] {
margin-right: 12px;
}
.rtb-find-reservation-button {
position: relative;
float: left;
padding: 10px 15px;
margin-top: 24px;
background: #444;
color: #fff;
border-radius: 3px;
cursor: pointer;
}
.rtb-bookings-results {
position: relative;
float: left;
width: 100%;
margin-top: 16px;
}
.rtb-cancel-booking-div {
border: 1px solid #ddd;
margin-bottom: 8px;
}
.rtb-cancel-booking-div + .alert {
margin: 0;
}
.rtb-cancel-booking-div + .alert.error {
color: #f24a4d;
background: #f24a4d47;
}
.rtb-cancel-booking-div *:not(:first-child) {
margin-left: -5px;
}
.rtb-cancel-booking {
text-align: center;
padding: 10px 0;
background: #fe4e4e;
color: #fff;
cursor: pointer;
display: inline-block;
max-width: 100px;
min-width: 100px;
width: 100%;
}
.rtb-cancel-booking:hover {
background: #ff6b6b;
color: #fff;
}
.rtb-cancel-booking.cancelled {
background: #24b124;
}
.rtb-deposit-booking {
text-align: center;
padding: 10px 0;
background: green;
color: #fff;
cursor: pointer;
display: inline-block;
max-width: 100px;
min-width: 100px;
width: 100%;
}
.rtb-deposit-booking:hover {
background: #008000cf;
color: #fff;
}
.rtb-booking-information {
padding-left: 5px;
display: inline-block;
}
#rtb_recaptcha {
position: relative;
float: left;
width: 100%;
margin: 16px 0;
}
.stripe-payment-help-text {
display: none;
}
.payment-errors {
margin: 32px 0;
border-left: 4px solid #000;
padding-left: 16px;
}
:is(.rtb-booking-form, #stripe-booking-form) button:disabled {
background-color: gray;
}
:is(.rtb-booking-form, #stripe-booking-form) button:disabled:hover {
text-decoration: none;
} .booking-payment-wrapper .summary-title {
width: 100%;
display: block;
}
.booking-payment-wrapper dl.summary-detail {
box-sizing: border-box;
width: 100%;
display: block;
padding: 12px 16px;
background: #fafafa;
border: 1px solid #ddd;
border-radius: 2px;
}
.booking-payment-wrapper dl.summary-detail dt {
width: 120px;
padding-right:  20px;
display: inline-block;
margin: 0 0 8px;
}
.booking-payment-wrapper dl.summary-detail dd {
width: calc(100% - 150px);
display: inline-block;
margin: 0 0 8px;
}
.booking-payment-wrapper dl.summary-detail dt:last-of-type,
.booking-payment-wrapper dl.summary-detail dd:last-of-type {
margin-bottom: 0;
} .rtb-booking-form-with-tables-graphic {
position: relative;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
width: 100%;
}
.rtb-booking-form-with-tables-graphic .rtb-booking-form-form {
width: 100%;
}
.rtb-booking-form-with-tables-graphic.right .rtb-booking-form-form,
.rtb-booking-form-with-tables-graphic.left .rtb-booking-form-form {
width: 65%;
}
.rtb-tables-graphic-container {
position: relative;
width: 100%;
display: flex;
flex-direction: column;
}
.rtb-booking-form-with-tables-graphic.right .rtb-tables-graphic-container,
.rtb-booking-form-with-tables-graphic.left .rtb-tables-graphic-container {
width: 30%;
}
.rtb-tables-graphic-container p {
margin: 0;
}
.rtb-tables-graphic-container img {
margin: 2em 0 32px;
width: 100%;
height: auto;
}
.rtb-booking-form-with-tables-graphic.above .rtb-tables-graphic-container,
.rtb-booking-form-with-tables-graphic.left .rtb-tables-graphic-container {
order: 1;
}
.rtb-booking-form-with-tables-graphic.above .rtb-booking-form-form,
.rtb-booking-form-with-tables-graphic.left .rtb-booking-form-form {
order: 2;
}
@media screen and (max-width: 900px) {
.rtb-booking-form-with-tables-graphic .rtb-booking-form-form {
width: 100% !important;
}
.rtb-tables-graphic-container {
width: 100% !important;
}
}.picker{font-size:16px;text-align:left;line-height:1.2;color:#000;position:absolute;z-index:10000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;outline:0}.picker__input{cursor:default}.picker__input.picker__input--active{border-color:#0089ec}.picker__holder{width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;position:fixed;transition:background .15s ease-out,transform 0s .15s;-webkit-backface-visibility:hidden} .picker__frame,.picker__holder{top:0;bottom:0;left:0;right:0;-ms-transform:translateY(100%);transform:translateY(100%)}.picker__frame{position:absolute;margin:0 auto;min-width:256px;max-width:666px;width:100%;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;opacity:0;transition:all .15s ease-out}.picker__wrap{display:table;width:100%;height:100%}@media (min-height:33.875em){.picker__frame{overflow:visible;top:auto;bottom:-100%;max-height:80%}.picker__wrap{display:block}}.picker__box{background:#fff;display:table-cell;vertical-align:middle}@media (min-height:26.5em){.picker__box{font-size:1.25em}}@media (min-height:33.875em){.picker__box{display:block;font-size:1.33em;border:1px solid #777;border-top-color:#898989;border-bottom-width:0;border-radius:5px 5px 0 0;box-shadow:0 12px 36px 16px rgba(0,0,0,.24)}.picker--opened .picker__frame{top:auto;bottom:0}}@media (min-height:40.125em){.picker__frame{margin-bottom:7.5%}.picker__box{font-size:1.5em;border-bottom-width:1px;border-radius:5px}}.picker--opened .picker__holder{-ms-transform:translateY(0);transform:translateY(0);zoom:1;background:rgba(0,0,0,.32);transition:background .15s ease-out}.picker--opened .picker__frame{-ms-transform:translateY(0);transform:translateY(0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;opacity:1}.picker__footer,.picker__header,.picker__table{text-align:center}.picker__box{padding:0 1em}.picker__header{position:relative;margin-top:.75em}.picker__month,.picker__year{font-weight:500;display:inline-block;margin-left:.25em;margin-right:.25em}.picker__year{color:#999;font-size:.8em;font-style:italic}.picker__select--month,.picker__select--year{border:1px solid #b7b7b7;height:2em;padding:.5em;margin-left:.25em;margin-right:.25em}.picker__select--month{width:35%}.picker__select--year{width:22.5%}.picker__select--month:focus,.picker__select--year:focus{border-color:#0089ec}.picker__nav--next,.picker__nav--prev{position:absolute;padding:.5em 1.25em;width:1em;height:1em;box-sizing:content-box;top:-.25em}.picker__nav--prev{left:-1em;padding-right:1.25em}.picker__nav--next{right:-1em;padding-left:1.25em}@media (min-width:24.5em){.picker__select--month,.picker__select--year{margin-top:-.5em}.picker__nav--next,.picker__nav--prev{top:-.33em}.picker__nav--prev{padding-right:1.5em}.picker__nav--next{padding-left:1.5em}}.picker__nav--next:before,.picker__nav--prev:before{content:" ";border-top:.5em solid transparent;border-bottom:.5em solid transparent;border-right:.75em solid #000;width:0;height:0;display:block;margin:0 auto}.picker__nav--next:before{border-right:0;border-left:.75em solid #000}.picker__nav--next:hover,.picker__nav--prev:hover{cursor:pointer;color:#000;background:#b1dcfb}.picker__nav--disabled,.picker__nav--disabled:before,.picker__nav--disabled:before:hover,.picker__nav--disabled:hover{cursor:default;background:0 0;border-right-color:#f5f5f5;border-left-color:#f5f5f5}.picker__table{border-collapse:collapse;border-spacing:0;table-layout:fixed;font-size:inherit;width:100%;margin-top:.75em;margin-bottom:.5em}@media (min-height:33.875em){.picker__table{margin-bottom:.75em}}.picker__table td{margin:0;padding:0}.picker__weekday{width:14.285714286%;font-size:.75em;padding-bottom:.25em;color:#999;font-weight:500}@media (min-height:33.875em){.picker__weekday{padding-bottom:.5em}}.picker__day{padding:.3125em 0;font-weight:200;border:1px solid transparent}.picker__day--today{position:relative}.picker__day--today:before{content:" ";position:absolute;top:2px;right:2px;width:0;height:0;border-top:.5em solid #0059bc;border-left:.5em solid transparent}.picker__day--disabled:before{border-top-color:#aaa}.picker__day--outfocus{color:#ddd}.picker--focused .picker__day--highlighted,.picker__day--highlighted:hover,.picker__day--infocus:hover,.picker__day--outfocus:hover{cursor:pointer;color:#000;background:#b1dcfb}.picker__day--highlighted{border-color:#0089ec}.picker--focused .picker__day--selected,.picker__day--selected,.picker__day--selected:hover{background:#0089ec;color:#fff}.picker--focused .picker__day--disabled,.picker__day--disabled,.picker__day--disabled:hover{background:#f5f5f5;border-color:#f5f5f5;color:#ddd;cursor:default}.picker__day--highlighted.picker__day--disabled,.picker__day--highlighted.picker__day--disabled:hover{background:#bbb}.picker__button--clear,.picker__button--close,.picker__button--today{border:1px solid #fff;background:#fff;font-size:.8em;padding:.66em 0;font-weight:700;width:33%;display:inline-block;vertical-align:bottom}.picker__button--clear:hover,.picker__button--close:hover,.picker__button--today:hover{cursor:pointer;color:#000;background:#b1dcfb;border-bottom-color:#b1dcfb}.picker__button--clear:focus,.picker__button--close:focus,.picker__button--today:focus{background:#b1dcfb;border-color:#0089ec;outline:0}.picker__button--clear:before,.picker__button--close:before,.picker__button--today:before{position:relative;display:inline-block;height:0}.picker__button--clear:before,.picker__button--today:before{content:" ";margin-right:.45em}.picker__button--today:before{top:-.05em;width:0;border-top:.66em solid #0059bc;border-left:.66em solid transparent}.picker__button--clear:before{top:-.25em;width:.66em;border-top:3px solid #e20}.picker__button--close:before{content:"\D7";top:-.1em;vertical-align:top;font-size:1.1em;margin-right:.35em;color:#777}.picker__button--today[disabled],.picker__button--today[disabled]:hover{background:#f5f5f5;border-color:#f5f5f5;color:#ddd;cursor:default}.picker__button--today[disabled]:before{border-top-color:#aaa}.picker__list{list-style:none;padding:.75em 0 4.2em;margin:0}.picker__list-item{border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin-bottom:-1px;position:relative;background:#fff;padding:.75em 1.25em}.picker__list-item--highlighted,.picker__list-item:hover{border-color:#0089ec;z-index:10}.picker--focused .picker__list-item--highlighted,.picker__list-item--highlighted:hover,.picker__list-item:hover{cursor:pointer;color:#000;background:#b1dcfb}@media (min-height:46.75em){.picker__list-item{padding:.5em 1em}}.picker--focused .picker__list-item--selected,.picker__list-item--selected,.picker__list-item--selected:hover{background:#0089ec;color:#fff;z-index:10}.picker--focused .picker__list-item--disabled,.picker__list-item--disabled,.picker__list-item--disabled:hover{background:#f5f5f5;color:#ddd;cursor:default;border-color:#ddd;z-index:auto}.picker--time .picker__button--clear{display:block;width:80%;margin:1em auto 0;padding:1em 1.25em;background:0 0;border:0;font-weight:500;font-size:.67em;text-align:center;text-transform:uppercase;color:#666}.picker--time .picker__button--clear:focus,.picker--time .picker__button--clear:hover{background:#e20;border-color:#e20;cursor:pointer;color:#fff;outline:0}.picker--time .picker__button--clear:before{top:-.25em;color:#666;font-size:1.25em;font-weight:700}.picker--time .picker__button--clear:focus:before,.picker--time .picker__button--clear:hover:before{color:#fff;border-color:#fff}.picker--time .picker__frame{min-width:256px;max-width:320px}.picker--time .picker__box{font-size:1em;background:#f2f2f2;padding:0}@media (min-height:40.125em){.picker--time .picker__box{margin-bottom:5em}}